@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

html {
  font-family: "Mulish", sans-serif;
}

.bold {
  font-weight: bold;
}

.big-title {
  font-size: 4.5rem;
  line-height: 5.625rem;
}

.mid-title {
  font-size: 3rem;
  line-height: 3.75rem;
}

.title-1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

.title-2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

.title-3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.headline {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.sub-headline {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.body {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.caption {
  font-size: 0.75rem;
  line-height: 1rem;
}

.background-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@tailwind components;

.bg-main {
  background: linear-gradient(208.89deg, #7d2bd0 -170.41%, #000000 92.37%);
}

.btn-primary {
  @apply transition rounded select-none bg-primary-main px-8 py-2 text-primary-surface cursor-pointer bold focus:bg-primary-focus hover:bg-primary-hover active:bg-primary-pressed;
}

.btn-info {
  @apply transition rounded select-none bg-info-main px-8 py-2 text-info-surface cursor-pointer bold hover:bg-info-hover active:bg-info-pressed;
}

.btn-danger {
  @apply transition rounded select-none bg-danger-main px-8 py-2 text-danger-surface cursor-pointer bold hover:bg-danger-hover active:bg-danger-pressed;
}

.btn-warning {
  @apply transition rounded select-none bg-warning-main px-8 py-2 text-warning-surface cursor-pointer bold hover:bg-warning-hover active:bg-warning-pressed;
}

.btn-success {
  @apply transition rounded select-none bg-success-main px-8 py-2 text-success-surface cursor-pointer bold hover:bg-success-hover active:bg-success-pressed;
}

@tailwind utilities;
